<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Library App</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <div class="container">
    <h1 class="display-4 text-center py-3">Add to Library</h1>
    
    <div class="jumbotron p-3 shadow-sm">
      <form id="book-form" action="/add-book" method="POST">
        <div class="d-flex align-items-center pt-3">
          <input id="book-title" name="booktitle" autofocus autocomplete="off" class="form-control mr-3 mb-3" type="text" placeholder="Book title:">
          <input id="author-name" name="authorname" autofocus autocomplete="off" class="form-control mr-3 mb-3" type="text" placeholder="Author name:">
        </div>
        <div class="d-flex align-items-center">
          <input id="page-count" name="pagecount" autofocus autocomplete="off" class="form-control mr-3 mb-3" type="text" placeholder="Page count:">
          <input id="image-src" name="imagesrc" autofocus autocomplete="off" class="form-control mr-3 mb-3" type="text" placeholder="Image src:">
        </div>
        <button class="btn btn-primary">Add New Book</button>
      </form>
    </div>
    
    <ul id="book-list" class="list-group pb-5"></ul>    
  </div>

  <!-- Modal -->
  <div class="modal fade" id="bookModal" tabindex="-1" role="dialog" aria-labelledby="bookModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="bookModalLabel">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          ...
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>

  <script>
    let bookObject = <%-JSON.stringify(books)%>
  </script>
  <!-- https://github.com/axios/axios -->
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="script.js"></script>
</body>
</html>